{% for item in unit %}
dn: ou={{ item }},dc=atos,dc=fr
objectClass: organizationalUnit
ou: {{ item }}

{% endfor %}
{% for item in annuaire %}
dn: cn={{ item.cn }},ou={{ item.ou }},dc=atos,dc=fr
objectClass: person
cn: {{ item.cn }}
sn: {{ item.sn }}
description: {{ item.desc }}
telephoneNumber: {{ item.tel }}

{% endfor %}

