dn: cn=config
changetype: modify
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: "/etc/ldap/ssl/key.pem"
-
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: "/etc/ldap/ssl/ldap.crt"
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: "/etc/ldap/ssl/ldap.csr"